#!/usr/bin/env python
PACKAGE = "qm_force_observer"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# KF的Q 、R矩阵（注意要分为四个部分）
gen.add("Qcp_ang", double_t, 0, "Qcp base angular", 5, 0.0, 8000)   # 若含有模型不确定性时，这一项可以达到5000
gen.add("Qcp_lin", double_t, 0, "Qcp base linear", 1, 0.0, 1000)
gen.add("Qcp_leg", double_t, 0, "Qcp leg", 1, 0.0, 1000)
gen.add("Qcp_arm", double_t, 0, "Qcp arm", 5, 0.0, 1000)
gen.add("Qcf", double_t, 0, "Qcf", 1000, 0.0, 2000)  #增大这一项可以提升估计速度

gen.add("Rcp_ang", double_t, 0, "Rcp base angular", 0.1, 0.0, 100)
gen.add("Rcp_lin", double_t, 0, "Rcp base linear", 0.1, 0.0, 100)
gen.add("Rcp_leg", double_t, 0, "Rcp leg", 0.05, 0.0, 100)
gen.add("Rcp_arm", double_t, 0, "Rcp arm", 0.1, 0.0, 100)

# 文章中的AF矩阵
gen.add("A_f", double_t, 0, "Qcp base angular", 0.05, 0.0, 100)


# 动力学参数是否含有不确定性标志位
gen.add("KF_uncertainty_M_flag",int_t,0,"model uncertainty flag",0,0,1)
gen.add("KF_uncertainty_C_flag",int_t,0,"model uncertainty flag",0,0,1)
gen.add("KF_uncertainty_G_flag",int_t,0,"model uncertainty flag",0,0,1)


# 关节速度是否含有测量噪声标志位
gen.add("KF_noise_flag",int_t,0,"velocity uncertainty flag",0,0,1)

exit(gen.generate(PACKAGE, "Momentum_KF", "Momentum_KF"))
