#!/usr/bin/env python
PACKAGE = "qm_force_observer"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# MBO 观测器的增益
gen.add("MBO_ang", double_t, 0, "gain of MBO base angular", 10, 0.0, 200)
gen.add("MBO_lin", double_t, 0, "gain of MBO base linear", 10, 0.0, 200)
gen.add("MBO_leg", double_t, 0, "gain of MBO leg", 10, 0.0, 200)
gen.add("MBO_arm", double_t, 0, "gain of MBO arm", 10, 0.0, 200)

exit(gen.generate(PACKAGE, "observer", "Observer"))
