#!/usr/bin/env python
PACKAGE = "qm_force_observer"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# MBO 观测器的增益
gen.add("MBO_ang", double_t, 0, "gain of MBO base angular", 12, 0.0, 200)
gen.add("MBO_lin", double_t, 0, "gain of MBO base linear", 12, 0.0, 200)
gen.add("MBO_leg", double_t, 0, "gain of MBO leg", 12, 0.0, 200)
gen.add("MBO_arm", double_t, 0, "gain of MBO arm", 12, 0.0, 200)


# 动力学参数是否含有不确定性标志位
gen.add("MBO_uncertainty_M_flag",int_t,0,"model uncertainty flag",0,0,1)
gen.add("MBO_uncertainty_C_flag",int_t,0,"model uncertainty flag",0,0,1)
gen.add("MBO_uncertainty_G_flag",int_t,0,"model uncertainty flag",0,0,1)


# 关节速度是否含有测量噪声标志位
gen.add("MBO_noise_flag",int_t,0,"velocity uncertainty flag",0,0,1)

exit(gen.generate(PACKAGE, "observer", "Observer"))
