#!/usr/bin/env python
PACKAGE = "qm_force_observer"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# MBO 观测器的增益
gen.add("MBO_ang", double_t, 0, "gain of MBO base angular", 15, 0.0, 200)
gen.add("MBO_lin", double_t, 0, "gain of MBO base linear", 15, 0.0, 200)
gen.add("MBO_leg", double_t, 0, "gain of MBO leg", 15, 0.0, 200)
gen.add("MBO_arm", double_t, 0, "gain of MBO arm", 15, 0.0, 200)

# STA 观测器的增益  具体的参数选择规则可以参考《A Lyapunov approch to second-order sliding mode controllers and observers》  同时标称参考值可以参考《Sliding Mode Momentum Observers for Estimation of External Torques and Joint Acceleration》
# 初步的参数选择规则可以定为：  （1）K1应该约等于1.6 * sqrt(k3)   （2）k4尽可能大一点 （3）k1 k2过高可能会抖振
gen.add("STA_ang_k1", double_t, 0, "K1 of STA base angular", 15, 0.0, 500)
gen.add("STA_ang_k2", double_t, 0, "K2 of STA base angular", 50, 0.0, 500)
gen.add("STA_ang_k3", double_t, 0, "K3 of STA base angular", 80, 0.0, 500)
gen.add("STA_ang_k4", double_t, 0, "K4 of STA base angular", 1000, 0.0, 2000)

gen.add("STA_lin_k1", double_t, 0, "K1 of STA base linear", 15, 0.0, 500)
gen.add("STA_lin_k2", double_t, 0, "K2 of STA base linear", 50, 0.0, 500)
gen.add("STA_lin_k3", double_t, 0, "K3 of STA base linear", 80, 0.0, 500)
gen.add("STA_lin_k4", double_t, 0, "K4 of STA base linear", 1000, 0.0, 2000)

gen.add("STA_leg_k1", double_t, 0, "K1 of STA leg", 15, 0.0, 500)
gen.add("STA_leg_k2", double_t, 0, "K2 of STA leg", 50, 0.0, 500)
gen.add("STA_leg_k3", double_t, 0, "K3 of STA leg", 80, 0.0, 500)
gen.add("STA_leg_k4", double_t, 0, "K4 of STA leg", 1000, 0.0, 2000)

gen.add("STA_arm_k1", double_t, 0, "K1 of STA arm", 15, 0.0, 500)
gen.add("STA_arm_k2", double_t, 0, "K2 of STA arm", 50, 0.0, 500)
gen.add("STA_arm_k3", double_t, 0, "K3 of STA arm", 80, 0.0, 500)
gen.add("STA_arm_k4", double_t, 0, "K4 of STA arm", 1000, 0.0, 2000)

exit(gen.generate(PACKAGE, "observer", "Observer"))
