#!/usr/bin/env python
PACKAGE = "qm_force_observer"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# STA 观测器的增益  具体的参数选择规则可以参考《A Lyapunov approch to second-order sliding mode controllers and observers》  同时标称参考值可以参考《Sliding Mode Momentum Observers for Estimation of External Torques and Joint Acceleration》
# 初步的参数选择规则可以定为：  （1）K1应该约等于1.6 * sqrt(k3)   （2）k4尽可能大一点 （3）k1 k2过高可能会抖振
gen.add("STA_ang_k1", double_t, 0, "K1 of STA base angular", 40, 0.0, 500)
gen.add("STA_ang_k2", double_t, 0, "K2 of STA base angular", 50, 0.0, 500)
gen.add("STA_ang_k3", double_t, 0, "K3 of STA base angular", 200, 0.0, 500)
gen.add("STA_ang_k4", double_t, 0, "K4 of STA base angular", 1000, 0.0, 2000)

gen.add("STA_lin_k1", double_t, 0, "K1 of STA base linear", 40, 0.0, 500)
gen.add("STA_lin_k2", double_t, 0, "K2 of STA base linear", 50, 0.0, 500)
gen.add("STA_lin_k3", double_t, 0, "K3 of STA base linear", 200, 0.0, 500)
gen.add("STA_lin_k4", double_t, 0, "K4 of STA base linear", 1000, 0.0, 2000)

gen.add("STA_leg_k1", double_t, 0, "K1 of STA leg", 40, 0.0, 500)
gen.add("STA_leg_k2", double_t, 0, "K2 of STA leg", 50, 0.0, 500)
gen.add("STA_leg_k3", double_t, 0, "K3 of STA leg", 200, 0.0, 500)
gen.add("STA_leg_k4", double_t, 0, "K4 of STA leg", 1000, 0.0, 2000)

gen.add("STA_arm_k1", double_t, 0, "K1 of STA arm", 40, 0.0, 500)
gen.add("STA_arm_k2", double_t, 0, "K2 of STA arm", 50, 0.0, 500)
gen.add("STA_arm_k3", double_t, 0, "K3 of STA arm", 200, 0.0, 500)
gen.add("STA_arm_k4", double_t, 0, "K4 of STA arm", 1000, 0.0, 2000)

# 动力学参数是否含有不确定性标志位
gen.add("STA_uncertainty_M_flag",int_t,0,"model uncertainty flag",0,0,1)
gen.add("STA_uncertainty_C_flag",int_t,0,"model uncertainty flag",0,0,1)
gen.add("STA_uncertainty_G_flag",int_t,0,"model uncertainty flag",0,0,1)

# 关节速度是否含有测量噪声标志位
gen.add("STA_noise_flag",int_t,0,"velocity uncertainty flag",0,0,1)

# 低通滤波截止频率
gen.add("f_omega", double_t, 0, "frequency of low pass filter", 0.5, 0.0, 50)


exit(gen.generate(PACKAGE, "STA_observer", "STA_Observer"))
